
<h1>Witless Writer:</h1>
<h3>Prompt Generator</h3>

<hr>

<h5>Randomly created prompts to beat writers block. Practice writing and save
  your sessions.
</h5>

<a href="/signup">Signup</a>
<a href="/create">Create Prompt</a>
<p>TODO: Add button create prompt</p>


