

<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>

<h1>Witless Writer:</h1>
<h3>Prompt Generator</h3>

<hr>

<h5>Randomly created prompts to beat writers block. Practice writing and save
  your sessions.
</h5>

<p>TODO: Add button for singup and create prompt</p>


